body {
    overflow: hidden;
}

.Home {
    position: relative;
    width: 100%;
    height: 120vh;
    background-image: url('../../images/back.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home img {
    width: 60%;
}

.Home h1 {
    padding-too: 10%;
    color: white;
    font-size: 350%;
}

.link {
    display: inline-block;
    background-color: #0a1a3b;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo para quando o mouse estiver sobre o botão */
.link:hover {
    background-color: #183174;
    /* Cor de fundo mais escura quando hover */
}